@import "resources/fonts/fonts.css";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#map {
        height: 100%;
      }

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1 {
  font-family: "nunitoextrabold", "Helvetica", sans-serif;
  font-size: 80px;
  text-align: center;
  color: rgb(0, 171, 279);
  line-height: 0.5;
}

h2 {
  font-family: "nunitobold";
  font-size: 60px;
  text-align: left;
  padding-left: 20px;
  color: rgb(0, 171, 279);
  line-height: 0.5;
}

.header-container {
  width: 100%;
  height: 100vh;
  margin: auto;
  display: relative;
  transform: translateY(35%);
}

.about-container {
  width: 100%;
  height: 100vh;
  margin: auto;
}

.scroll-button {
  left: 0;
  right: 0;
  border: none;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border-radius: 50px;
  width: 30px;
  margin: auto;
  position: fixed;
  bottom: 20px;
  z-index: 10;
}

df-messenger {
  --df-messenger-minimized-chat-close-icon-color: ;
  --df-messenger-bot-message: #878fac;
  --df-messenger-button-titlebar-color: #df9b56;
  --df-messenger-chat-background-color: #fafafa;
  --df-messenger-font-color: white;
  --df-messenger-send-icon: #878fac;
  --df-messenger-user-message: #479b3d;
}

.chat-container {
  width: 75%;
  left: 0;
  right: 0;
  margin: auto;
}

.container {
  height: 50%;
}

img {
  color: white;
  size: 1 px;
}
