@import "resources/fonts/fonts.css";

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #e9f8fa;
}

#map {
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1 {
  font-family: "nunitoextrabold", "Helvetica", sans-serif;
  font-size: 70px;
  text-align: center;
  color: #005e8c;
  line-height: 0.8;
}

GoogleMap {
  height: 400px; /* The height is 400 pixels */
  width: 70px; /* The width is the width of the web page */
}

h2 {
  font-family: "nunitobold";
  font-size: 50px;
  text-align: center;
  color: #005e8c;
  line-height: 0.5;
}

.header-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.about-container {
  width: 100%;
  height: 100vh;
  margin: auto;
  padding-top: 30px;
}

.scroll-button {
  font-family: "nunitoregular";
  font-size: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

a:focus {
  color: rgb(106, 106, 106) !important;
}
a:hover {
  color: rgb(106, 106, 106) !important;
}
a:active {
  color: rgb(106, 106, 106) !important;
}
a:visited {
  color: rgb(106, 106, 106) !important;
}

.chat-container {
  width: 75%;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 100;
  min-height: 100vh;
  padding-top: 30px;
}

.container {
  height: 50%;
}

input:focus {
  border: 0px;
  box-shadow: 0px 0px 5px #719ece;
}
