@import "resources/fonts/fonts.css";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-family: "nunitoextrabold", "Helvetica", sans-serif;
  font-size: 80px;
  text-align: center;
  color: rgb(0, 171, 279);
  line-height: 0.5;
}

h2 {
  font-family: "nunitobold";
  font-size: 60px;
  text-align: left;
  padding-left: 20px;
  color: rgb(0, 171, 279);
  line-height: 0.5;
}

.header-container {
  width: 100%;
  height: 100vh;
  margin: auto;
  display: relative;
  transform: translateY(35%);
}

.about-container {
  width: 100%;
  height: 100vh;
  margin: auto;
}

.scroll-button {
  left: 0;
  right: 0;
  border: none;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border-radius: 50px;
  width: 30px;
  margin: auto;
  position: fixed;
  bottom: 20px;
  z-index: 10;
}

.chat-container {
  width: 75%;
  left: 0;
  right: 0;
  margin: auto;
}

.container {
  height: 50%;
}

.form-line-active input:focus,
.form-line-active textarea:focus {
  border: 1px solid green !important;
  box-shadow: 0 0 3px green !important;
  -moz-box-shadow: 0 0 3px green !important;
  -webkit-box-shadow: 0 0 3px green !important;
}

input:focus,
textarea:focus,
select:focus {
  outline-offset: 0px !important;
  outline: none !important;
}
